/* begin general styles */

* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #ccc;    
    overflow: hidden;
}

h1,
.md-button,
.md-toolbar-tools h1 {
    font-weight: bold;
}
.page-content {
    font-size: 24px;
    margin-left:25px;
    text-shadow:none;
    padding-top: 20px;
}
.page-content p {
    margin-bottom:20px;
}
img.right {
    float: right;
    margin-left: 20px;
    margin-bottom:20px;
    margin-right: 25px;
}
.vertical-align {
    height:990px;
    width:100%;
}
.vertical-align .row {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    margin:0;
    width:100%;
}
.vertical-align .row.row_2{
    height:495px;
}
.vertical-align .row.row_1{
    height:990px;
}
.vertical-align .item {
    width:507px;
    height:390px;
    margin: auto;  /* Magic! */
}

/* end general styles */


/* begin footer */

ml-exhibits-footer-menu md-toolbar.footer {
    background-color: #efefef;
    color: #000;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Height of the footer */
    background: #6cf;
    text-align: center;
    padding:20px 10px;
}

.md-button.md-cornered {
    border-radius: 20px;
}

.md-button .material-icons {
    vertical-align: middle;
}

.md-toolbar-tools i {
    background-color: #9A9A9A;
    color: #fff;
    border-radius: 50%;
    margin-right: 15px;
}

.md-toolbar-tools .md-button {
    font-size: 24px;
    padding: 5px 15px;
}

.md-toolbar-tools h1.toolbar-text {
    font-size: 36px;
    text-transform: uppercase;
}
/* end footer */


/* begin menu */

.menu-item {
    background: #454753 none repeat scroll 0 0;
    border: 1px solid #666;
    color: #fad5a9;
    padding-bottom: 50px;
    text-align: center;
    display:inline-block;
}
.menu-item h1 {
    padding:10px 5px;
}
.vertical-align h1.larger {
    height: 75px;
    padding-top: 0;
}

/* end menu */

/* begin apps generic */

#app_header {
    position: absolute;
    top: 15px;
    left: 20px;
    font-weight: normal;
    color: #fff;
    font-size: 58px;
    z-index: 3;
}


/* end apps generic */

/* begin animations*/
@keyframes shakeHori {
  0% {transform: translateX(0);}
  12.5% {transform: translateX(-6px) rotateY(-5deg)}
  37.5% {transform: translateX(5px) rotateY(4deg)}
  62.5% {transform: translateX(-3px) rotateY(-2deg)}
  87.5% {transform: translateX(2px) rotateY(1deg)}
  100% {transform: translateX(0)}
}

.shakeHori {
  animation: shakeHori 400ms ease-in-out;
}
@keyframes shakeVert {
  0% {transform: translateX(0);}
  12.5% {transform: translateY(-6px) rotateX(-5deg)}
  37.5% {transform: translateY(5px) rotateX(4deg)}
  62.5% {transform: translateY(-3px) rotateX(-2deg)}
  87.5% {transform: translateY(2px) rotateX(1deg)}
  100% {transform: translateY(0)}
}

.shakeVert {
  animation: shakeVert 400ms ease-in-out;
}
/* end sanimation */

@media (min-width: 1200px) {
    .videogular-container {
        width: 1170px;
        height: 658.125px;
    }
    .videogular-container.audio {
        width: 1170px;
        height: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
        width: 940px;
        height: 528.75px;
    }
    .videogular-container.audio {
        width: 940px;
        height: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container {
        width: 728px;
        height: 409.5px;
    }
    .videogular-container.audio {
        width: 728px;
        height: 50px;
    }
}