/* begin general styles */
body {
    background-color:#fff;
    color:#000;
}
.video-description {
    color:#000;
}
.home,
.videos {
    background-image: url(/assets/images/bkg/MLsnow_ts4.jpg);
}

.vertical-align .row.row_1 {
    margin-top: 300px;
}
.vertical-align .row.row_1 .col-md-3.item{
    margin-left:80px;
}