body{
	overflow:hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

a{
	text-decoration: none;
}
.ui-header .ui-btn, .ui-footer .ui-btn {
  display: inline-block;
  margin: 10px 70px;
  min-width: 150px;
  text-transform:uppercase;
}

.ui-header .ui-btn h2, .ui-footer .ui-btn h2{ 
  font-size:24px;
  font-family: Arial,Helvetica,sans-serif;
  margin-bottom: 7px;
  margin-top: 7px;
  }
  
 .ui-icon-myapp-home:after{
	background:url(../images/home.png) no-repeat transparent;
	 width: 32px;
	 height:32px;
    margin-top: -9px !important;
    position: absolute !important;
    top: 30% !important;
	}


/**************** RoundAboutCSS *****************/

.contentArea{
	height: 915px;
}
.roundabout-holder {
  list-style: none;
  padding: 0;
  margin: auto;
  height: 100px;
  width: 1200px;
   }
.roundabout-moveable-item {
  height: 445px;
  width: 305px;
  cursor: pointer;
  background-color: #fff;
  border: 4px solid #63d0f7;
  text-align: center; 
  margin-top: 300px;
   }
   
.roundabout-moveable-item h2{
	width: 274px;
	color: #222;
	margin: 0 auto;
}

.roundabout-moveable-item img{
	border-bottom:solid 5px #63d0f7;
	margin: 10px;
}
.roundabout-in-focus {

   }
.roundabout-in-focus .findOutMore {

  display:inherit;
  color: #63d0f7;
  padding-top: 1em;
   }
h4.findOutMore {
	display: none;
	padding-top: 1em;
}

div.arrows{
	width: 1200px;
	margin: 0 auto;
	position: relative;
	top: 700px;
}

a.next{
  float: right;  		   		
  }
a.prev{ 
  float: left;		   		
  }
a.next img, a.prev img{
  width: 50px;
  height: auto;
}

/*************moviesPage***************/
div.gridList{
	text-align:center;
	width: 300px;
	border: solid 3px #63d0f7;
	padding: 10px 0 0 0;
	margin: 10px auto;
}

h4.view{
	color: #63d0f7;
}
.ui-dialog .ui-header, .ui-dialog .ui-content, .ui-dialog .ui-footer, .video-dialog, .ui-dialog-contain{ 
	max-width: 1880px;
	max-height: 1000px;
}
.ui-dialog-contain{
	margin: 120px auto 0;	
}
.ui-dialog .ui-header{
	margin-top: 0px;
}
.ui-dialog .ui-content {
    padding: 15px;
}

.ui-grid-a span.ui-block-a{
	width: 15%;
	padding-left: 20px;
}
.ui-grid-a span.ui-block-b{
	width:80%;
}
h1.title{
	border-bottom:solid 3px #63d0f7;
	padding-right:10px;
}
div.video{
	width: 100%;
	margin: 0 auto;
}
/*.ui-header .ui-btn{
	margin: 5px 30px;
	padding: 0 10px;
}*/
.ui-body-c, .ui-overlay-c{
	background: none;
	}
.ui-header .ui-title, .ui-footer .ui-title{
	font-size: 36px;
}
/*.ui-header{
	margin-bottom: 10px;
}*/
.content-secondary {
	width: 20%;
	text-align: left;
	float: left;
	margin: 1.8% 1%;
}
.content-primary {
	width: 78%;
	float: left;
	margin: 10px auto;
}
.gallery{
	margin: 0;
	/*padding: 0 10px;*/
	}
.gallery img{ padding-right:10px; margin-right:10px;}
.gallery p{ font-size: 18px; margin-right: 15px;}
#imagemap img{ position:absolute; left:0; top:0;}
.dialog-header .ui-btn-left{display:none;}
#index{ position:relative; top:0; left:0;}
#clouds{ position:relative; top: 1090px;}
video.videoNav{border: solid 1px black/*#63d0f7*/}
div.menuItem{border:solid 1px #666; background: #454753; font-family: Arial, Helvetica, sans-serif; text-align: center; color:#fad5a9; margin-top: 300px; margin-left: 120px; float:left; padding-bottom: 50px;}
div.topItem{border:solid 1px #666; background: #454753; font-family: Arial, Helvetica, sans-serif; text-align: center; color:#fad5a9; padding-bottom: 50px; width:481px; margin: 0 auto;}
div.menuItem video, div.topItem video{
	margin: 0 3px;
	font-family: Arial, Helvetica, sans-serif; border:solid 1px #666;}
.ui-footer-fixed {
  bottom: 0;
  height: 88px;
}
#container { width: 1024px; margin: auto; margin-top: 30px;}
#video_container {
	 width: 1024px;	
}

#video_container video {
	position: static;
	
	-webkit-transition:all .3s ease-in; 
	-moz-transition: all .3s ease-in;
}

#video_container video:hover {
	-webkit-box-shadow: 0 3px 10px black;
	-moz-box-shadow: 0 3px 10px black;
	box-shadow: 0 3px 10px black;
}

#videoControls { 
	display: block;
	background: #272824;
	background: rgba(39,40,36, 1);
	margin-top: -4px;
	width: 100%;
	text-align: left; 
	position: relative; 
	overflow: hidden; 
	padding: 8px 0;  
	opacity: 0;
	border-top:1px solid #999;
}



#videoControls a { 
	position: relative; 
	float: left; 
	cursor: pointer; 
	border: none; 
	color: white; 
	margin-left: 20px; 
	margin-right: 10px;
	background: none;
	border: none;
	font-family: 'Myriad Pro', 'Myriad', helvetica, arial, sans-serif;
	height: 50px;
	padding-top: 0;
	font-size: 40px;
	font-weight: bold;
}

#videoControls a img{
	margin-left: 10px;
}
/* Gets rid of the outline around buttons in Firefox. */
/*#video_container input[type="button"]::-moz-focus-inner, button::-moz-focus-inner, button::-webkit-focus-inner { padding:0;border:0 none; }*/

/* The play, pause buttons. Have to style differently because of their inherant sizes. Sucks a bit. */
#play { text-shadow: 0 1px 0 black; position: relative; top: -1px;}
#pauseButton { position: relative; left: -3px; top: -3px; font-size: 24px; margin-right: 6px;}
/*
#video_container a:hover {
	color: #c65819;
	text-shadow: 0 1px 0 #ab3800;
}*/

/* When in full screen mode */
#fullScreen { padding-right: 15px;}
.fs-control { position: fixed !important; bottom: 0; left: 0; z-index: 2200; }

/* PROGRESS BAR */
/*#progress { 
	cursor: pointer;
}
*/
#progress #progress_box { 
	float: left; 
	width: 80%;
	height: 10px; 
	
	border: 1px solid #292929; 
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; 

	background: -webkit-gradient(linear, 0 0, 100% 0, from(#c65819), color-stop(.7, #c65819), to(#ab3800));
	background: -moz-linear-gradient(left, #c65819, #c65819 70%, #ab3800);
	
	-webkit-box-shadow: 0 1px 0 #292929, 0 -1px 0 #292929;
	-moz-box-shadow: 0 1px 0 #292929, 0 -1px 0 #292929;
	box-shadow: 0 1px 0 #292929, 0 -1px 0 #292929;
	
	margin: 16px 0 0 5px; 
	padding: 2px;
	
	overflow:hidden; 
	
}

#progress #play_progress { 
	display: block; 
	width: 0px; 
	height: 10px; 
	
	background-color: #fff; 
	background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), color-stop(.5, white), to(#e3e3e3));
	background: -moz-linear-gradient(top, #e3e3e3, white 50%, #e3e3e3);
	
	-webkit-border-radius:5px; -moz-border-radius: 5px; border-radius: 5px; 
}


#progress #play_time { 
	float: left; 
	margin: 7px 0 0 5px; 
	font-size: 10px; 
	font-weight: normal; 
	font-family: Helvetica, Arial, sans-serif;  
	line-height: 1;
}


.fullsizeVideo {
	position: fixed; 
	left: 0;
	top: 0;
	z-index:1001;
	background-color: black;
}
.fs-control a{
	margin-left: 60px !important;
	margin-right: 50px;
}